.asst
	.asst__header.clearfix(data-target=".asst__collapse", data-toggle="collapse")
		.container
			.row
				.col-xs-12
					h2.text__h2.asst__title
						span.asst__header-text.asst__header-text_open
							| Нужен ассистент для решения задачи?
	.clearfix.asst__collapse
		.asst__body
			.container.clearfix
				.row
					.col-sm-6
						.asst__left
							ul.check-list.asst__check-list
								li.check-list__item
									| Опишите задачу всего один раз
								li.check-list__item
									| Свяжитесь удобным для вас способом
								li.check-list__item
									| Получите КП от компаний с фиксированным бюджетом
					.col-sm-6
						.asst__right
							p.asst__text
								| Выберите оперативный способ связи
							.asst__social.social
								a.social__item.i-social-msg(href="#")
								a.social__item.i-social-fb(href="#")
								a.social__item.i-social-vk(href="#")
								a.social__item.i-social-skype(href="#")
							p.asst__text
								| Или свяжитесь через онлайн чат
							form.asst__message.send-message(action="#")
								textarea.send-message__field(placeholder="Ваше сообщение", required)
								button.send-message__submit
									.i-send-message




