.banner-top 
	.container
		.row
			.col-xs-12
				.banner-top__container.clearfix
					.banner-top__item.banner-top__item_35
						div(style="background: red; height: 100px;")
					.banner-top__item.banner-top__item_25
						div(style="background: red; height: 100px;")
					.banner-top__item.banner-top__item_40
						div(style="background: red; height: 100px;")