.edge
	.container
		.row
			.col-xs-12
				.edge__items
					.edge__item
						ul.check-list
							li.check-list__item
								| Опишите задачу всего один раз
					.edge__item
						ul.check-list
							li.check-list__item
								| Свяжитесь удобным для вас способом
					.edge__item
						ul.check-list
							li.check-list__item
								| Получите КП от компаний с фиксированным бюджетом
				.edge__social.social
					a.social__item.i-social-msg(href="#")
					a.social__item.i-social-fb(href="#")
					a.social__item.i-social-vk(href="#")
					a.social__item.i-social-skype(href="#")

