footer.foo
	.container
		.row
			.col-xs-12
				.foo__container
					.foo__info
						p
							|  Мы проанализировали сильные практики юридических фирм по всей территории РФ  и отобрали лучшие в 28 городах РФ.  В результате вы можете найти надежного бизнес партнера, который решит вашу проблему
					ul.foo__list
						li.foo__list-item
							a.foo__list-link(href="#")
								| Методология отбора
						li.foo__list-item
							a.foo__list-link(href="#")
								| Как это работает
				.foo__bottom
					.foo__copy
						| ЮрТерра. Все права защищены (с) 2016
					a.foo__politics.fancy(href="#politics")
						| Пользовательское соглашение