header.header
	.container
		.row
			.col-xs-12
				.header__container
					.header__item.header__item_1.clearfix
						.header__item-icon.header__item-icon_1.i-header-1
						.header__item-text.header__item-text_1
							| Компании 
							b.fw__black
								| отобраны
							|  только на основе рекомендаций юристов
					.header__item.header__item_2.clearfix
						.header__item-icon.header__item-icon_2.i-header-2
						.header__item-text.header__item-text_2
							b.fw__black
								| Быстрый
							|  поиск экспертов по отраслям права и городам РФ
					.header__item.header__item_3.clearfix
						.header__item-icon.header__item-icon_3.i-header-3
						.header__item-text.header__item-text_3
							b.fw__black
								| Фиксированный
							|  бюджет и 
							b.fw__black
								| безопасность
							|  платежей при проведении сделки через портал