.how-it
	.container
		.row
			.col-xs-12
				h2.text__h2.text__h2_decor_gray.how-it__title
					| Как это работает?
				.how-it__items
					.how-it__item
						.how-it__item-title
							| 1. Найдите компанию
						.how-it__item-icon
							.i-how-it-1
						.how-it__item-desc
							| Выберите компанию в нужном городе по юридической практике, популярной услуге или отраслевому опыту
					.how-it__item
						.how-it__item-title
							| 2. Отправьте запрос
						.how-it__item-icon
							.i-how-it-2
						.how-it__item-desc
							| Свяжитесь напрямую с компанией или  профильным юристом и опишите свою проблему 
					.how-it__item
						.how-it__item-title
							| 3. Получите предложения
						.how-it__item-icon
							.i-how-it-3
						.how-it__item-desc
							| Коммерческое предложение будет содержать полную информацию о требованиях к получению услуги и результаты, предоставляемые после выполнения 
					.how-it__item
						.how-it__item-title
							| 4. Внесите денежные средства
						.how-it__item-icon
							.i-how-it-4
						.how-it__item-desc
							| Депозит будет использован для начала работ по вашему запросу
					.how-it__item
						.how-it__item-title
							| 5. Подтвердите получение услуги
						.how-it__item-icon
							.i-how-it-5
						.how-it__item-desc
							| Денежные средства станут доступны для компании только после оказания услуги