#in-maps.collapse.collapse-in-maps
	.in-maps
		a.in-maps__close(href=".collapse-in-maps", data-toggle="collapse")
			.in-maps__close-text
				| Закрыть
			.in-maps__close-icon
		.clearfix
			.col-xs-12
				.in-maps__title
					| Выберите свой город
			.col-xs-12.col-md-7
				.in-maps__items
					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Москва
					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Волгоград
					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Воронеж
					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Екатеринбург
					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Казань
					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Краснодар

					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Красноярск

					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Нижний Новгород
					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Новосибирск
					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Пермь
					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Ростов-на-Дону
					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Самара
					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Санкт-Петербург
					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Уфа
					label.label-group.in-maps__item
						input.label-group__input(type="radio", name="in-maps")
						span.label-group__text
							| Челябинск
			.col-xs-12.col-md-5
				.in-maps__pr
					img.img-responsive(src="images/in-maps-global.png", alt="")



