.methodology
	.container
		.row
			.col-xs-12
				h2.text__h2.text__h2_decor_gray.methodology__title
					span.i-check.methodology__title-icon
					| Методология отбора
				.methodology__items
					.methodology__item.clearfix
						.methodology__item-icon
							.i-methodology-1
						.methodology__item-text
							| Составление списка юридических компаний, оказываюших юридические услуги для бизнеса
					.methodology__item.clearfix
						.methodology__item-icon
							.i-methodology-2
						.methodology__item-text
							| Получение оценок и рекомендаций от коллег на основании выполненных проектов
					.methodology__item.clearfix
						.methodology__item-icon
							.i-methodology-3
						.methodology__item-text
							| Отбор компаний с сильной экспертизой по областям права
					.methodology__item.clearfix
						.methodology__item-icon
							.i-methodology-4
						.methodology__item-text
							| Публикация результатов для  юридических компаний и получение обратной связи. Рассмотрение корректировки.
					.methodology__item.clearfix
						.methodology__item-icon
							.i-methodology-5
						.methodology__item-text
							| Публикация результатов
				.methodology__text
					| *Раз в полугодие мы обновляем результаты основе выполненных проектов и рекомендаций с рынка 