.hidden
	.popup.popup_type_form.clearfix#auth
		.popup__body
			h3.text__h3.popup__title
				| Войти или 
				a.popup__link.popup__link_reg.fancy(href="#reg")
					| зарегистрироваться
			input.field.popup__field(type="text", placeholder="E-mail", required)
			input.field.popup__field(type="text", placeholder="Пароль", required)
			.popup__btns.popup__btns_reg
				button.btn-white.popup__btn
					| Войти
				a.popup__link_forgot.fancy(href="#forgot")
					| Забыли пароль?
		.popup__social
			.popup__social-title
				| Войти как пользователь
			.popup__social-items
				a.popup__social-item(href="#")
					span.i-popup-social-mail
				a.popup__social-item(href="#")
					span.i-popup-social-ya
				a.popup__social-item(href="#")
					span.i-popup-social-vk
				a.popup__social-item(href="#")
					span.i-popup-social-fb

	.popup.popup_type_form.clearfix#reg
		.popup__body
			h3.text__h3.popup__title
				| Зарегистрироваться или 
				a.popup__link.popup__link_reg.fancy(href="#auth")
					| войти
			input.field.popup__field(type="text", placeholder="Ваше имя", required)
			input.field.popup__field(type="text", placeholder="Пароль", required)
			.popup__sep-title
				| Контактная информация
			input.field.popup__field(type="text", placeholder="E-mail", required)
			input.field.popup__field(type="text", placeholder="Номер Телефона", required)
			.popup__btns.popup__btns_reg
				button.btn-white.popup__btn
					| Регистрация
				a.popup__link_forgot.fancy(href="#forgot")
					| Забыли пароль?
		.popup__social
			.popup__social-title
				| Войти как пользователь
			.popup__social-items
				a.popup__social-item(href="#")
					span.i-popup-social-mail
				a.popup__social-item(href="#")
					span.i-popup-social-ya
				a.popup__social-item(href="#")
					span.i-popup-social-vk
				a.popup__social-item(href="#")
					span.i-popup-social-fb

	.popup.popup_type_form.clearfix#forgot
		.popup__body
			h3.text__h3.popup__title
				| Восстановить пароль
			input.field.popup__field(type="text", placeholder="E-mail", required)
			.popup__btns.popup__btns_reg
				button.btn-white.popup__btn
					| Восстановить
				a.popup__link_forgot.fancy(href="#auth")
					| Войти
		.popup__social
			.popup__social-title
				| Войти как пользователь
			.popup__social-items
				a.popup__social-item(href="#")
					span.i-popup-social-mail
				a.popup__social-item(href="#")
					span.i-popup-social-ya
				a.popup__social-item(href="#")
					span.i-popup-social-vk
				a.popup__social-item(href="#")
					span.i-popup-social-fb
	.popup.popup_type_text.clearfix#politics
		p.text__p
			| ЕСЛИ ВЫ СКАЧИВАЕТЕ, ЗАГРУЖАЕТЕ, КОПИРУЕТЕ ЛИБО ЛЮБЫМ ИНЫМ ОБРАЗОМ ИСПОЛЬЗУЕТЕ ИГРЫ, ПРИЛОЖЕНИЯ И САЙТЫ WARGAMING ИЛИ ИХ ЧАСТЬ ИЛИ НАЧИНАЕТЕ УЧАСТВОВАТЬ В ИГРОВОМ ПРОЦЕССЕ,  ТО ЭТИМ ВЫ ПОДТВЕРЖДАЕТЕ, ЧТО ПОЛНОСТЬЮ ПРОЧИТАЛИ, ПОНЯЛИ, СОГЛАСНЫ И ПРИНИМАЕТЕ НИЖЕИЗЛОЖЕННОЕ ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ, ОБЯЗУЕТЕСЬ ЕГО СОБЛЮДАТЬ И НЕСТИ ОТВЕТСТВЕННОСТЬ ЗА ЕГО НАРУШЕНИЕ.
		p.text__p
			| УСЛОВИЯ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ И КЛЮЧЕВЫХ ДОКУМЕНТОВ (ПУНКТ 2.1 НИЖЕ) ЯВЛЯЮТСЯ СУЩЕСТВЕННЫМИ И ОБЯЗАТЕЛЬНЫМИ ДЛЯ ИСПОЛНЕНИЯ.
		p.text__p
			| Настоящее пользовательское соглашение (далее – «Соглашение») регулирует отношения между компанией Wargaming World Limited, зарегистрированной по адресу Agion Omologiton Avenue, 105, Никосия, 1080, Кипр, в части игр на платформе Microsoft Xbox® и SonyPlayStation®, компанией Wargaming Group Limited, зарегистрированной по адресу Agion Omologiton Avenue, 105, Никосия, 1080, Кипр – в части всех остальных Игр, а также их уполномоченными представителями (далее – «Wargaming»)
		p.text__p
			| и Вами – конечным пользователем игр, приложений, сайтов и иных ресурсов Wargaming, в том числе игр World of Tanks, World of Warplanes, World of Warships, World of Tanks на Xbox®360 и Xbox®One, World of Tanks на PlayStation®4, World of Tanks Generals, World of Tanks Blitz (далее – «Пользователь»), по отдельности именуемые «Сторона», а совместно – «Стороны».
		p.text__p
			| Данное Соглашение действует в отношении всех игр и ресурсов Wargaming, кроме тех, в отношении которых установлены отдельные юридические документы. 
		h3.text__h3
			| 1. ТЕРМИНЫ В СОГЛАШЕНИИ
		p.text__p
			| 1.1. Аккаунт – создаваемая Пользователем и принадлежащая Wargaming учетная запись Пользователя, которая представляет собой хранимую на Игровых ресурсах совокупность данных о Пользователе, необходимую для его авторизации (аутентификации) на Игровых ресурсах и доступа к информации о Пользователе, настройкам, игровым ценностям, статистическим показателям и иной подобной информации.
		p.text__p
			| 1.2. Дополнительные возможности Игры (Дополнительные возможности) – программные возможности Игры за пределами базового функционала Игры, доступ к которым Пользователь приобретает за плату в соответствии с настоящим Соглашением. К таким Дополнительным возможностям в числе прочего относятся игровые ценности, включающие внутриигровую валюту («золото», «кредиты», «золотые слитки», «дублоны», «пиастры» и т.п.), специальное игровое имущество (например, «премиум техника») и улучшенный на определенный срок статус Пользователя в Игре (например, «премиум аккаунт»).
		p.text__p
			| 1.3. Игра – одна из онлайн, мобильных и иных компьютерных игр Wargaming, в том числе World of Tanks, World of Warplanes, World of Warships, World of Tanks на Xbox®360 и Xbox®One, World of Tanks на PlayStation®4, World of Tanks Generals, World of Tanks Blitz, являющаяся программой для ЭВМ и включающая в себя связанные с ней Игровые ресурсы, а также соответствующие дополнения и обновления (патчи).
		p.text__p
			| 1.4. Игровые ресурсы – Игры, программное обеспечение, приложения, интернет-сайты, базы данных и другие ресурсы Wargaming.
		p.text__p
			| 1.5. Игровые элементы – совокупность используемых в Игре объектов, предметов, элементов и методов игрового процесса (геймплея), доступ к которым предоставляется Пользователю в процессе использования Игры на безвозмездной основе, если изначально не установлено  иное. Игровые элементы не включают в себя Дополнительные возможности, порядок доступа к которым регулируется отдельно.
		p.text__p
			| 1.6. Интернет-сайт Игры –  сайт Wargaming, относящийся к Игре, в том числе, worldoftanks.ru, worldofwarplanes.ru, worldofwarships.ru, console.worldoftanks.com, wotgenerals.ru, wotblitz.ru и их поддомены.
		p.text__p
			| 1.7. Клиентская часть Игры – программное обеспечение, необходимое для использования Игры Пользователем и подлежащее установке на персональный компьютер или иное техническое устройство Пользователя.
		p.text__p
			| 1.8. Пользователь – физическое лицо, обладающее необходимой дееспособностью для заключения и исполнения настоящего Соглашения.	
		p.text__p
			| 1.9. Правила Игры – документ, устанавливающий правила участия и поведения Пользователя в отдельных Играх, а также ответственность Пользователя за их нарушение.  Правила Игры расположены по адресу: 
			a(href="#")
				| http://worldoftanks.ru/ru/content/wot_game_rules/
		p.text__p
			| 1.10. Правила Форума – документ, устанавливающий правила поведения Пользователя на официальном форуме Игры (далее – «Форум»). Правила Форума расположены по адресу: 
			a(href="#")
				| http://forum.worldoftanks.ru/index.php?/topic/8-правила-форума/
			| .
		p.text__p
			| 1.11. Премиум магазин – ресурс Wargaming, расположенный по адресу 
			a(href="#")
				| https://ru.wargaming.net/shop
			|  , либо иной электронный ресурс Wargaming, посредством которого Пользователь может приобрести доступ к Дополнительным возможностям Игры и иным платным функциям.

	.popup.popup_type_no-company.clearfix#no-company
		header.no-company__header.in-close
			| К сожалению отобранных компаний по 
			b
				| Морскому праву
			|  в 
			b
				| г.Великий Новгород
			|  в нашей базе пока нет, но у нас есть решения для вас
		.no-company__body
			.no-company__group
				.no-company__group-item
					.no-company__group-item-title
						| 1. Поиск на карте
					.no-company__group-item-desc
						| Отобранные нами компании могут находится в соседнем регионе и решить вашу бизнес задачу
					.no-company__group-item-wrap-btn
						a.btn-white.no-company__group-item-btn(href="#")
							| Перейти на карту
				.no-company__group-item
					.no-company__group-item-title
						| 2. Создать тендер
					.no-company__group-item-desc
						| Проведите тендер между компаниями. Предложения будут учитывать все особенности поставленной задачи
					.no-company__group-item-wrap-btn
						a.btn-white.no-company__group-item-btn(href="#")
							| Создать тендер
			footer.no-company__foo
				.no-company__foo-title
					| 3. Виртуальный ассистент
				.no-company__foo-desc
					| Выполнит поиск и проверку компании под ваш запрос даже если еепока нет в базе бесплатно в течении двух рабочих дней
				.no-company__foo-social.social
					a.social__item.i-social-msg(href="#")
					a.social__item.i-social-fb(href="#")
					a.social__item.i-social-vk(href="#")
					a.social__item.i-social-skype(href="#")
				p.no-company__foo-text
					| Или свяжитесь через онлайн чат
				form.no-company__foo-message.send-message(action="#")
					textarea.send-message__field(placeholder="Ваше сообщение", required)
					button.send-message__submit
						.i-send-message
	
	.popup.popup_type_form.clearfix#praxis-req
		.popup__body
			h3.text__h3.popup__title
				| Запрос
			textarea.praxis-req__field.praxis-req__field_comm.praxis-req__field.praxis-req_popup__field(placeholder="Ваше сообщение")
			label.praxis-req__option.praxis-req_popup__option
				.praxis-req__option-check.praxis-req_popup__option-check
					input.checkbox-double(type="checkbox")
				.praxis-req__option-text.praxis-req_popup__option-text
					| Требуется ответ в течении рабочего часа
			label.praxis-req__option.praxis-req_popup__option.praxis-req__option.praxis-req_popup__option_last
				.praxis-req__option-check.praxis-req_popup__option-check
					input.checkbox-double(type="checkbox")
				.praxis-req__option-text.praxis-req_popup__option-text
					| Отправить всем компаниям раздела
			button.btn-blue(type="submit")
				| Отправить запрос
			.praxis-req__attached.praxis-req_popup__attached
				.praxis-req__attached-list.praxis-req_popup__attached-list
					| Прикрепленные файлы: коммерческое предложение.doc, информация по проекту.doc 
					span.praxis-req__attached-icon.praxis-req_popup__attached-icon
						i.i-clear-attach
				a.praxis-req__attached-linkpraxis-req_popup__attached-link(href="#")
					span.praxis-req__attached-link-icon.praxis-req_popup__attached-link-icon
						i.i-attach
					span.praxis-req__attached-link-text.praxis-req_popup__attached-link-text
						| Прикрепить файл
	.popup.popup_type_finance.clearfix#pa-finance
		.popup__body: form
			table.pa-table.popup__table_sm_block.pa-finance-popup__table: tbody.popup__table_sm_block
				tr.pa-table__tr.popup__table_sm_block: th.popup__table_sm_block.pa-table__th.pa-profile__table-head.pa-profile__email-head(colspan="2") Реквизиты
				tr.pa-table__tr.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block ИНН
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block.pa-finance-popup__field: input.pa-profile__field-email(type="text")
				tr.pa-table__tr.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block.pa-finance-popup__label(colspan="2") Введите ИНН для автоматического заполнения информации
				tr.pa-table__tr.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block Наименование
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block.pa-finance-popup__field: input.pa-profile__field-email(type="text")
				tr.pa-table__tr.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block КПП
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block.pa-finance-popup__field: input.pa-profile__field-email(type="text")
				tr.pa-table__tr.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block ОКПО
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block.pa-finance-popup__field: input.pa-profile__field-email(type="text")
				tr.pa-table__tr.popup__table_sm_block: th.popup__table_sm_block.pa-table__th.pa-profile__table-head.pa-profile__email-head(colspan="2") Реквизиты	
				tr.pa-table__tr.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block Город
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block.pa-finance-popup__field: input.pa-profile__field-email(type="text")
				tr.pa-table__tr.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block Адрес
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block.pa-finance-popup__field: textarea.pa-profile__field-email.pa-profile__field-email_textarea(type="text")
				tr.pa-table__tr.popup__table_sm_block: th.popup__table_sm_block.pa-table__th.pa-profile__table-head.pa-profile__email-head(colspan="2") Фактический адрес
				tr.pa-table__tr.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block(colspan="2")
						label
							input.pa-finance-popup__checkbox.checkbox-double(type="checkbox")
							| Соответствует юридическому
					//- td.pa-table__td.pa-profile__email-td.popup__table_sm_block: input.pa-profile__field-email(type="text")
				tr.pa-table__tr.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block.pa-finance-popup__field: input.pa-profile__field-email(type="text")
				tr.pa-table__tr.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block.pa-finance-popup__field: textarea.pa-profile__field-email.pa-profile__field-email_textarea(type="text")
				tr.pa-table__tr.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block БИК
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block.pa-finance-popup__field: input.pa-profile__field-email(type="text")
				tr.pa-table__tr.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block Банк
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block.pa-finance-popup__field: input.pa-profile__field-email(type="text")
				tr.pa-table__tr.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block Кор. счет
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block.pa-finance-popup__field: input.pa-profile__field-email(type="text")
				tr.pa-table__tr.popup__table_sm_block
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block Расчетный счет
					td.pa-table__td.pa-profile__email-td.popup__table_sm_block.pa-finance-popup__field: input.pa-profile__field-email(type="text")
			
				tr.pa-table__tr
					td.pa-table__td(colspan="2")
						button.btn.btn-blue.pa-profile__btn.pa-finance-popup__btn Сохранить
						a.link(href="#") Отменить
			