.mobile-menu#mobile-menu
	.menu-levels-mobile
		ul.menu-levels-mobile__track.clearfix
			li.menu-levels-mobile__level.menu-levels-mobile__level-1
				ul.mobile-menu__list
					li.mobile-menu__item.mobile-menu__item_arr
						a.mobile-menu__link.menu-levels-mobile__up-level(href="#", data-target="#menu-levels-mobile-branch-1", data-next-level=".menu-levels-mobile__level-2")
							span.mobile-menu__icon
								span.i-mobile-target
							| г.Москва	
				.mobile-menu__title
					| Специализации
				ul.mobile-menu__list
					li.mobile-menu__item.mobile-menu__item_arr
						a.mobile-menu__link.menu-levels-mobile__up-level(href="#", data-target="#menu-levels-mobile-branch-2", data-next-level=".menu-levels-mobile__level-2")
							| Юридические практики
					li.mobile-menu__item.mobile-menu__item_arr
						.mobile-menu__link.menu-levels-mobile__up-level(href="#", data-target="#menu-levels-mobile-branch-3", data-next-level=".menu-levels-mobile__level-2")
							| Популярные услуги
					li.mobile-menu__item.mobile-menu__item_arr
						.mobile-menu__link.menu-levels-mobile__up-level(href="#", data-target="#menu-levels-mobile-branch-4", data-next-level=".menu-levels-mobile__level-2")
							| Отраслевой опыт
				.mobile-menu__title
					| Личный кабинет
				ul.mobile-menu__list
					li.mobile-menu__item
						a.mobile-menu__link(href="#")
							span.mobile-menu__icon
								span.i-user
							| ООО ГК Аваль

					li.mobile-menu__item
						a.mobile-menu__link(href="#")
							| 27 992.00 
							i.i-rubl
				.mobile-menu__title
					| Меню
				ul.mobile-menu__list
					li.mobile-menu__item
						a.mobile-menu__link(href="#")
							| Методология отбора
					li.mobile-menu__item
						a.mobile-menu__link(href="#")
							| Как это работает
					li.mobile-menu__item
						a.mobile-menu__link(href="#")
							| О портале
			li.menu-levels-mobile__level.menu-levels-mobile__level-2
				ul.mobile-menu__list
					li.mobile-menu__item.mobile-menu__item_arr-back
						a.mobile-menu__link.menu-levels-mobile__down-level(href="#")
							| Назад
				.menu-levels-mobile__branch#menu-levels-mobile-branch-1
					.mobile-menu__title
						| Город
					ul.mobile-menu__list
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| г.Москва
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| г.Санкт-Петербург
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| г.Екатеринбург
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| г.Нижний Новгород
				.menu-levels-mobile__branch#menu-levels-mobile-branch-2
					.mobile-menu__title
						| Юридические практики
					ul.mobile-menu__list
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| Налоговое право
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| Недвижимость и земельное право
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| Трудовое право
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| Воздушное право	
				.menu-levels-mobile__branch#menu-levels-mobile-branch-3
					.mobile-menu__title
						| Популярные услуги
					ul.mobile-menu__list
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| Налоговое право
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| Недвижимость и земельное право
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| Трудовое право
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| Воздушное право	
				.menu-levels-mobile__branch#menu-levels-mobile-branch-4
					.mobile-menu__title
						| Отраслевой опыт
					ul.mobile-menu__list
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| Налоговое право
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| Недвижимость и земельное право
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| Трудовое право
						li.mobile-menu__item
							a.mobile-menu__link(href="#")
								| Воздушное право	