.praxis
	.container
		.row
			.col-xs-12
				.praxis__header
					h3.text__h3.praxis__title
						| Результаты по практике Интеллектуальная собственность в г. Москва
				.praxis__body
					.praxis__item
						.praxis-item
							.praxis-item__container
								.praxis-item__left
									h4.text__h4.praxis-item__title
										span.praxis-item__title-name
											| Гардиум
										| 
										span.praxis-item__title-year
											| 1994
									.praxis-item__desc.clearfix
										p
											| Федеральное Патентное Бюро «Гардиум» с 2004 года занимается защитой прав интеллектуальной собственности в России и по всему миру.
										.collapse.praxis-item__desc-2
											p
												| Федеральное Патентное Бюро «Гардиум» с 2004 года занимается защитой прав интеллектуальной собственности в России и по всему миру.
											p
												| Федеральное Патентное Бюро «Гардиум» с 2004 года занимается защитой прав интеллектуальной собственности в России и по всему миру.
									.praxis-item__desc-more(data-target=".praxis-item__desc-2", data-toggle="collapse")
										| Подробнее о компании
									.praxis-item__chars
										.praxis-item__char
											span.praxis-item__char-key
												| Сильные практики:
											span.praxis-item__char-val
												| Интеллектуальная собственность
										.praxis-item__char
											span.praxis-item__char-key
												| Регион присутвия:
											span.praxis-item__char-val
												| Москва, Санкт Петербург, Воронеж и ещё 5
									
								.praxis-item__right
									a.praxis-item__bookmarks(href="#")
										span.praxis-item__bookmarks-icon
											i.i-bookmark
										span.praxis-item__bookmarks-text
											| Добавить в избранное
									.praxis-item__logo
										img(src="images/gardium-logo.png", alt="Гардиум", width="199", height="59")
									.praxis-item__links
										a.praxis-item__link(href="http://legacy-support.ru")
											| legacy-support.ru
									//- label.praxis-item__inq
									//- 	.praxis-item__inq-check
									//- 		input.checkbox-double(type="checkbox")
									//- 	.praxis-item__inq-text
									//- 		| Отправить запрос
									a.btn-blue.praxis-item__inq.praxis-item__inq_mobile.fancy(href="#praxis-req")
										| Отправить запрос
							.praxis-item__specials.praxis-special
								h5.text__h5.praxis-special__title(data-toggle="collapse", data-target=".praxis-special__collapse-2")
									| Спецпредложения
									span.praxis-special__title_invisible_xs
										|  для участников ЮрТерры
								.collapse.praxis-special__collapse.praxis-special__collapse-2
									.praxis-special__items
										a.praxis-special__item(href="#")
											| Оформление заявки на регистрацию товарного знака  за 6 000
										a.praxis-special__item(href="#")
											| Оформление заявки на регистрацию торговой марки  за 6 000
										a.praxis-special__item(href="#")
											| Оформление заявки на регистрацию торговой марки  за 6 000
					.praxis__req.praxis-req
						.praxis-req__title.praxis-req__title_left
							| Отправка запроса
						textarea.praxis-req__field.praxis-req__field_comm(placeholder="Ваше сообщение")
						label.praxis-req__option
							label.praxis-req__option-check
								input.checkbox-double(type="checkbox")
							.praxis-req__option-text
								| Требуется ответ в течении рабочего часа
						//- .praxis-req__title.praxis-req__title_center
							| Отправить запрос
						//- .praxis-req__btns
						button.praxis-req__btn.praxis-req__btn_selected(type="submit")
							| Отправить запрос
							//- button.praxis-req__btn.praxis-req__btn_all(type="submit")
								| Всем компаниям раздела
						.praxis-req__attached
							.praxis-req__attached-list
								| Прикрепленные файлы: коммерческое предложение.doc, информация по проекту.doc 
								span.praxis-req__attached-icon
									i.i-clear-attach
							a.praxis-req__attached-link(href="#")
								span.praxis-req__attached-link-icon
									i.i-attach
								span.praxis-req__attached-link-text
									| Прикрепить файл
						.praxis-req__drag
							| Переместите фаил в данную область для прикрепления
						


