.nav_illusion
	nav.nav.nav_fixed
		.container
			.row
				.col-xs-12
					.nav__container
						.nav__mobile.visible-xs.visible-sm
							.nav__trigger#nav-trigger
								span
								span
								span
						.nav__left
							img.nav__logo(src="images/logo.png", alt="ЮрТерра", width="168", height="35")
							.nav__slogan
								| Рекомендуем.
								br.visible-lg
								| Как для друзей
						.nav__right.hidden-xs.hidden-sm
							ul.nav__list
								li.nav__item
									a.nav__link(href="#")
										| Методология отбора
								li.nav__item
									a.nav__link(href="#")
										| Как это работает
								li.nav__item
									a.nav__link(href="#")
										| О портале
							ul.nav__list
								li.nav__item
									a.nav__link(href="#")
										| 27 992.00 
										i.i-rubl
								li.nav__item
									a.nav__link(href="#")
										span.i-user.nav__icon
										| ООО ГК Аваль