.si
	.container
		.row
			.col-xs-12
				h2.text__h2.si__title
					| Безопасность информации
				.si__items
					.si__item
						.si__item-icon
							span.i-si-1
						.si__item-text
							| Все передаваемые данные защищены протоколом SSL. Мы следуем стандартам отрасли для обеспечения безопаности передаваемой информации
					.si__divider
					.si__item
						.si__item-icon
							span.i-si-2
						.si__item-text
							| Вся хранящаяся на портале информация является строго конфиденицальной в соответстии с законодательством РФ пользовательским соглашением
