.sugg
	.container
		.row
			.col-xs-12
				.sugg__container
					.sugg__title
						| Нужны предложения с наилучшими условиями?
					.sugg__slogan
						| Проведите тендер между компаниями. Предложения будут учитывать все особенности поставленной задачи
					.sugg__btn-container
						a.sugg__btn.btn-blue(href="#")
							| Создать тендер