.what
	.container
		.row
			.col-xs-12
				h2.text__h2.text__h2_decor_gray.what__title
					| Почему  ЮрТерра станет постоянным партнером?
				.what__items
					.what__item
						.what__item-icon
							.i-what-1
						.what__item-title
							| Готовая база сильных компаний
					.what__item
						.what__item-icon
							.i-what-2
						.what__item-title
							| Быстро решит юридическую проблему
					.what__item
						.what__item-icon
							.i-what-3
						.what__item-title
							| Обеспечит безопасность сделки