.pa-nav: .container: .row: .col-xs-12: ul.pa-nav__container
	li.pa-nav__item
		| Home
	li.pa-nav__item: a.pa-nav__link(href="#")
		| Предложения
	li.pa-nav__item: a.pa-nav__link(href="#")
		| Финансы
	li.pa-nav__item: a.pa-nav__link(href="#")
		| Избранное
	li.pa-nav__item: a.pa-nav__link(href="#")
		| Профиль
