doctype html
html
	head
		title Практики
		meta(charset="UTF-8")
		meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(content="telephone=no", name="format-detection")
		meta(http-equiv="Cache-Control" content="no-cache")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic")
		link(rel="stylesheet", href="css/bootstrap.css")
		link(rel="stylesheet", href="css/style.css")
	body
		.overlay
		.swipes#swipes
			.fixed
				include jade/praxis.nav.jade
				include jade/banner-2.jade
				include jade/header.jade
				//- include jade/header-title.jade
				include jade/praxis.firm.jade
				include jade/praxis.asst.jade
				include jade/praxis.jade
				include jade/sugg.jade
				include jade/praxis.asst.2.jade
				include jade/how-it.jade
				include jade/what.jade
				//- include jade/methodology.jade
				include jade/si.jade
				include jade/banner-h120.jade
				include jade/desc.jade
				//- include jade/edge.jade
				include jade/foo.jade
				include jade/popup.jade
		
		include jade/praxis.mobile-menu.jade
		
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js")
		script(src="js/slideout.min.js")
		script(src="js/jquery.custom-radio-checkbox.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js")
		script(src="js/main.js")

