.edge-transaction: .container: .row: .col-xs-12
	h2.text__h2.edge-transaction__title
		| 3 причины провести сделку через портал
	.edge-transaction__container
		.edge-transaction__item
			.edge-transaction__item-icon
				.hidden-xs
					i.i-edge-transaction-1
				.visible-xs
					i.i-edge-transaction-mobile-1
			.edge-transaction__item-title
				| Фиксированный бюджет
		.edge-transaction__item
			.edge-transaction__item-icon
				.hidden-xs
					i.i-edge-transaction-2
				.visible-xs
					i.i-edge-transaction-mobile-2
			.edge-transaction__item-title
				| Электронный документооборот
		.edge-transaction__item
			.edge-transaction__item-icon
				.hidden-xs
					i.i-edge-transaction-3
				.visible-xs
					i.i-edge-transaction-mobile-3
			.edge-transaction__item-title
				| Безопасность платежей
	a.btn.btn-blue(href="#")
		| Запросить сделку (для клиента)
