.private-message: .container: .row: .col-xs-12
	h2.private-message__title
		| Тема сообщения: Получение медицинской лицензии
	a.btn.btn-blue.private-message__btn(href="#")
		| создать тендер
	
	.private-message__messages
		.private-message__date
			| 20 февраля
		.message-item
			.message-item__main
				.message-item__title.clearfix
					img.message-item__pr(src="images/private-message-default.png", alt="", width="37", height="37")
					| Семенов Олег
					//- br
					| Николаевич
				.message-item__text
					| Здравствуйте,
					br
					| Меня интересует получение медицинской лицензии в Нижнем Новгороде. Сориентируйте по цене, скрокам и необходимым документами
				.message-item__foo.clearfix
					.message-item__read
					time.message-item__date.message-item__date_mobile(datetime="2004-07-24T18:18:18+04:00") 14:40
			.message-item__side
				time.message-item__date(datetime="2004-07-24T18:18:18+04:00") 44 минуты назад
		.message-item.message-item_push
			.message-item__main
				.message-item__title.clearfix
					img.message-item__pr(src="images/private-message-default.png", alt="", width="37", height="37")
					| Вы
				.message-item__text
					| Добрый день,
					br
					| Меня интересует получение медицинской лицензии в Нижнем Новгороде. Сориентируйте по цене, скрокам и необходимым документами
				.message-item__attach
					span.message-item__attach-icon: i.i-attach-gray
					| Приложенные файлы:  
					a.message-item__attach-link(href="#" download)
						| необходимые документы.doc;
					| 
					a.message-item__attach-link(href="#" download)
						| требования к ООО.doc
				.message-item__foo.clearfix
					.message-item__read
					time.message-item__date.message-item__date_mobile(datetime="2004-07-24T18:18:18+04:00") 14:40
			.message-item__side
				time.message-item__date(datetime="2004-07-24T18:18:18+04:00") 44 минуты назад
		.private-message__date
			| Сегодня
		.message-item
			.message-item__main
				.message-item__title.clearfix
					img.message-item__pr(src="images/private-message-default.png", alt="", width="37", height="37")
					| Семенов Олег Николаевич
				.message-item__text
					| Меня устраивает  как начать сделку?
				.message-item__attach
					span.message-item__attach-icon: i.i-attach-gray
					| Приложенные файлы:  
					a.message-item__attach-link(href="#" download)
						| необходимые документы.doc;
					| 
					a.message-item__attach-link(href="#" download)
						| требования к ООО.doc
				.message-item__foo.clearfix
					.message-item__read
						| Просмотрено 2 февраля 15:30
					time.message-item__date.message-item__date_mobile(datetime="2004-07-24T18:18:18+04:00") 14:40
			.message-item__side
				time.message-item__date(datetime="2004-07-24T18:18:18+04:00") 44 минуты назад
		
