.pa: .container: .row: .col-xs-12
	h2.pa__title
		| Создание сделки
.hidden-xs.hidden-sm
	include ../../jade/in-maps.jade
.pa-index: .container: .row: .col-xs-12
	.pa-grid__container
		.pa-grid__cell-wrap: section.pa-grid__cell 
			.pa-cell#pa-cell-1.in
				.pa-line
					h1.pa-cell__title
						| Сообщения
					a.btn.btn-blue.pa-line__btn
						| Создать
				table.pa-table
					tr.pa-table__row
						td.pa-table__td: strong: a.pa-table__strong(href="#") Получение медицинской лицензии
						td.pa-table__td
							span.pa-table__icon
								i.i-time 
							| 14:43
					tr.pa-table__row
						td.pa-table__td: a(href="#") Нужна медицинская лицензия
						td.pa-table__td
							span.pa-table__icon
								i.i-time 
							| 2 дня назад
					tr.pa-table__row
						td.pa-table__td: a(href="#") Нужна медицинская лицензия
						td.pa-table__td
							span.pa-table__icon
								i.i-time 
							| 14:43
					tr.pa-table__row
						td.pa-table__td: a(href="#") Нужно КП на мед лицензию
						td.pa-table__td
							span.pa-table__icon
								i.i-time 
							| 2 дня назад
					tr.pa-table__row
						td.pa-table__td: a(href="#") Сколько будет стоить получить медицинскую лицензию в  городе Нижний Новгород под ключ
						td.pa-table__td
							span.pa-table__icon
								i.i-time 
							| 3 дня назад
					tr.pa-table__row
						td.pa-table__td: a(href="#") Нужна медицинская лицензия
						td.pa-table__td
							span.pa-table__icon
								i.i-time 
							| 3 дня назад
				.pa-cell__foo
					a.link(href="#") Следующие 5
			.pa-cell__btn-collapse(data-toggle="collapse", data-target="#pa-cell-1") Свернуть
		.pa-grid__cell-wrap: section.pa-grid__cell
			.pa-cell#pa-cell-2.in
				.hidden-xs
					.pa-line
						h1.pa-cell__title
							| Тендеры в
						.select__wrap.pa-line__select
							button.select(data-target=".collapse-in-maps", data-toggle="collapse") г. Москва
						a.link(href="#")
							| Мои тендеры
						a.btn.btn-blue.pa-line__btn
							| Создать
				.visible-xs
					.pa-line
						h1.pa-cell__title
							| Тендеры в
						a.btn.btn-blue.pa-line__btn
							| Создать
					.pa-line
						.select__wrap.pa-line__select
							button.select(data-target=".collapse-in-maps" data-toggle="collapse") г. Москва
						a.link(href="#")
							| Мои тендеры
				.hidden-md.hidden-lg
					include ../../jade/in-maps.jade
				table.pa-table
					tr.pa-table__row
						td.pa-table__th Наименование
						td.pa-table__th Роль
						td.pa-table__th Окончание
					tr.pa-table__row
						td.pa-table__td Содействие в получении медицинской лицензии в г. Нижний Новгород
						td.pa-table__td Участник
						td.pa-table__td
							span.pa-table__icon
								i.i-time 
							| 23 часа
					tr.pa-table__row
						td.pa-table__td Содействие в получении медицинской лицензии в г. Нижний Новгород
						td.pa-table__td Организатор
						td.pa-table__td
							span.pa-table__icon
								i.i-time 
							| 12 часов
					tr.pa-table__row
						td.pa-table__td Взыскание долга по договору поставки
						td.pa-table__td Участник
						td.pa-table__td
							span.pa-table__icon
								i.i-time 
							| 23 часа
					tr.pa-table__row
						td.pa-table__td Содействие в получении медицинской лицензии в г. Нижний Новгород
						td.pa-table__td Организатор
						td.pa-table__td
							span.pa-table__icon
								i.i-time 
							| 12 часов
					tr.pa-table__row
						td.pa-table__td Взыскание долга по договору поставки
						td.pa-table__td Организатор
						td.pa-table__td
							span.pa-table__icon
								i.i-time 
							| 12 часов
					tr.pa-table__row
						td.pa-table__td Взыскание долга по договору поставки
						td.pa-table__td Организатор
						td.pa-table__td
							span.pa-table__icon
								i.i-time 
							| 12 часов
				.text-right.pa-cell__foo
					a.link(href="#") Следующие 5
			.pa-cell__btn-collapse(data-toggle="collapse", data-target="#pa-cell-2") Свернуть
		.pa-grid__cell-wrap.pa-grid__cell-wrap_full: section.pa-grid__cell
			.pa-cell#pa-cell-3.in
				.pa-line
					h1.pa-cell__title
						| Сделки
					a.btn.btn-blue.pa-line__btn
						| Создать сделку
				.hidden-xs.hidden-sm
					table.pa-table.pa-table_full
						tr.pa-table__tr
							th.pa-table__th Дата заказа
							th.pa-table__th Наименование
							th.pa-table__th Контрагент
							th.pa-table__th.pa-table__td_role Роль
							th.pa-table__th.pa-table__td_price
							th.pa-table__th.pa-table__td_status Статус
							th.pa-table__th.pa-table__td_action Действие
						tr.pa-table__tr
							td.pa-table__td.pa-table__td_date 06.12.2016
							td.pa-table__td 
								| Создание и получение медецинской лицензии
							td.pa-table__td 
								| Х5 Retail Group
							td.pa-table__td.pa-table__td_role Исполнитель
							td.pa-table__td.pa-table__td_price 40 500 P
							td.pa-table__td.pa-table__td_status: span.pa-status__orange Ожидание оплаты
							td.pa-table__td.pa-table__td_action: a.btn.btn-orange.pa-cell__btn(href="#") Оплатить
						tr.pa-table__tr
							td.pa-table__td.pa-table__td_date 06.12.2016
							td.pa-table__td Регистрация ООО
							td.pa-table__td
								| Любавушка
							td.pa-table__td.pa-table__td_role Исполнитель
							td.pa-table__td.pa-table__td_price 20 000 P
							td.pa-table__td.pa-table__td_status: span.pa-status__orange Ожидание оплаты
							td.pa-table__td.pa-table__td_action: a.btn.btn-orange.pa-cell__btn(href="#") Оплатить
						tr.pa-table__tr
							td.pa-table__td.pa-table__td_date 06.12.2016
							td.pa-table__td Создание и получение медецинской лицензии
							td.pa-table__td
								| Заказчик
							td.pa-table__td.pa-table__td_role Исполнитель
							td.pa-table__td.pa-table__td_price 40 500 P
							td.pa-table__td.pa-table__td_status: span.pa-status__blue В работе
							td.pa-table__td.pa-table__td_action: a.btn.btn-orange.pa-cell__btn(href="#") Оплатить
						tr.pa-table__tr
							td.pa-table__td.pa-table__td_date 06.12.2016
							td.pa-table__td Создание и получение медецинской лицензии
							td.pa-table__td
								| Х5 Retail Group
							td.pa-table__td.pa-table__td_role
								| Исполнитель
							td.pa-table__td.pa-table__td_price 40 500 P
							td.pa-table__td.pa-table__td_status: span.pa-status__green Завершена
							td.pa-table__td.pa-table__td_action: a.btn.btn-orange.pa-cell__btn(href="#") Оплатить
						tr.pa-table__tr
							td.pa-table__td.pa-table__td_date 06.12.2016
							td.pa-table__td Создание и получение медецинской лицензии
							td.pa-table__td
								| Х5 Retail Group
							td.pa-table__td.pa-table__td_role Исполнитель
							td.pa-table__td.pa-table__td_price 40 500 P 
							td.pa-table__td.pa-table__td_status: span.pa-status__green Завершена
							td.pa-table__td.pa-table__td_action: a.btn.btn-gold.btn-gold_area.pa-cell__btn(href="#") Подтвердить
								br
								| получение усуги
				.visible-xs.visible-sm
					table.pa-table.pa-table_full
						tr.pa-table__tr
							th.pa-table__th Дата заказа
							th.pa-table__th Наименование
							th.pa-table__th Контрагент
						tr.pa-table__tr
							td.pa-table__td.pa-table__td_date 06.12.2016
							td.pa-table__td 
								| Создание и получение медецинской лицензии
								br
								| 40 500 P
							td.pa-table__td 
								| Х5 Retail Group
								br
								span.pa-status__orange Ожидание оплаты
						tr.pa-table__tr
							td.pa-table__td.pa-table__td_date 06.12.2016
							td.pa-table__td 
								| Создание и получение медецинской лицензии
								br
								| 40 500 P
							td.pa-table__td 
								| Х5 Retail Group
								br
								span.pa-status__orange Ожидание оплаты
						tr.pa-table__tr
							td.pa-table__td.pa-table__td_date 06.12.2016
							td.pa-table__td 
								| Создание и получение медецинской лицензии
								br
								| 40 500 P
							td.pa-table__td 
								| Х5 Retail Group
								br
								span.pa-status__orange Ожидание оплаты
			.pa-cell__btn-collapse(data-toggle="collapse", data-target="#pa-cell-3") Свернуть
