.pa-send-message: .container: .row: .col-xs-12
	.pa-send-message__container
		h2.pa-send-message__title
			| Отправка запроса
		.pa-send-message__grid
			textarea.pa-send-message__field
			.pa-send-message__btns
				textarea.pa-send-message__field.pa-send-message__field_mobile
				a.pa-send-message__link-attache(href="#")
					span.pa-send-message__link-attache-icon
						i.i-attach
					span.pa-send-message__link-attache-text
						| Прикрепить файл
				button.btn.btn-blue.pa-send-message__btn-blue
					| Отправить
				button.btn.btn-orange.pa-send-message__btn-orange.hidden-xs
					| Предложить сделку (для компаний)